@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');

html {
    height: auto;
    overflow-x: hidden;
}

body {
    height: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("imgs/Sky.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #fff;
    font-size: 20px;
}

.uppercontainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.weathertab {
    display: grid;
}

.place {
    align-items: center;
    grid-column: 1 / 3;
    font-size: 3rem;
    margin: 20px 0px;
}

.temp {
    font-size: 2rem;
    margin: 20px 0px;
}

.timenow, .description {
    font-size: 2rem;
    margin: 20px 0px;
}

form {
    margin: 10px;
}

input[name="locationfield"], #button {
    background-color: #ffffff30;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color:#fff;
}

label[for="location"] {
    display: none;
}

.lowercontainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50% 50%;
}

div[class^="forecast"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 2;
}

div[class^="forecast"]:nth-child(4) {
    grid-column: 2 / span 2;
}

@media(max-width: 320px) {
    .feelslike, .humidity, .windspeed {
        font-size: 1rem;
    }

    .frcsttime, .frcsttemp {
        font-size: 12px;
    }

    input[name="locationfield"], #button {
        font-size: 14px;
    }
}

@media (max-height: 800px) {
    .temp, .timenow, .description, .feelslike, .humidity, .windspeed {
        margin: 0px;
    }
}

@media (min-width: 400px) {
    .lowercontainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5%;
    }
}

@media (min-width: 1200px) and (min-height: 800px) {
    .lowercontainer {
        padding-top: 10%;
    }
}